@tailwind base;
@tailwind components;
@tailwind utilities;

/*** SWIPE LIST OVERRIDES **/
.swipeable-list-item__leading-actions, 
.swipeable-list-item__trailing-actions {
  @apply text-white text-lg uppercase font-bold;
}
.swipeable-list-item__leading-actions{
  @apply bg-blue-800;
}
.swipeable-list-item__trailing-actions {
  @apply bg-red-600;
}
.swipeable-list .swipe-action {
  @apply flex justify-center items-center
}

.react-date-picker__wrapper{
  border: none;
}

#contenedor{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
}

body::-webkit-scrollbar{
  display: none;
}

#expenselist::-webkit-scrollbar {
  width: 20px;               /* width of the entire scrollbar */
}

#expenselist::-webkit-scrollbar-track {
  background: #0b0b0b;        /* color of the tracking area */
}

#expenselist::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #22d3ee, #0e7490);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 4px solid #0b0b0b;  /* creates padding around scroll thumb */
}